node_modules
dist
coverage
*.js
*.d.ts
**/*.test.ts
**/*.spec.ts
**/backup/*.ts
**/v2.0_backup.ts
**/v2.1_backup.ts
**/v2.2_backup.ts
# Ignore flow scripts that were not part of this specific strict migration focus
f/flows/**/*.ts
f/internal/message_parser/**/*.ts
internal/cache/**/*.ts
