{$BASE_URL} {
	bind {$ADDRESS}
	log {
		output stdout
		format json
	}

	# Telegram Gateway Webhook & Monitoring Routes
	reverse_proxy /webhook/telegram http://telegram_gateway_api:8000
	reverse_proxy /monitoring/metrics http://telegram_gateway_api:8000
}
